#ext-dailyforecastview-1 .x-gridcell {
  font-size: 18px;
  margin-top: 10px;
}

#ext-dailyforecastview-1 .temphigh {
  font-weight: bold;
}

#ext-dailyforecastview-1 .templow {
  color: #333333;
}

#ext-dailyforecastview-1 .wi {
  font-size: 24px;
}
