#ext-currentconditionsview-1 {
  border-bottom: solid 1px #cccccc;
  text-align: center;
}
#ext-currentconditionsview-1 .x-dataview-item {
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

#currentconditions .currentcity {
  font-size: 36px;
}
#currentconditions .currentprimary {
  font-size: 96px;
  margin: 20px auto;
}
#currentconditions .currentprimary .wi {
  padding-right: 20px;
}

#currentconditions .currentsecondary {
  font-size: 24px;
  margin: 0 auto;
}
