/* CLEAR_DAY */
.wi-clear-day:before {
  content: "\f00d";
}

/* CLEAR_NIGHT */
.wi-clear-night:before {
  content: "\f02e";
}

/* PARTLY_CLOUDY_DAY */
.wi-partly-cloudy-day:before {
  content: "\f002";
}

/* PARTLY_CLOUDY_NIGHT */
.wi-partly-cloudy-night:before {
  content: "\f086";
}

/* CLOUDY */
.wi-cloudy:before {
  content: "\f013";
}

/* RAIN */
.wi-rain:before {
  content: "\f019";
}

/* SLEET */
.wi-sleet:before {
  content: "\f0b5";
}

/* SNOW */
.wi-snow:before {
  content: "\f01b";
}

/* WIND */
.wi-wind:before {
  content: "\f021";
}
/* FOG */
.wi-fog:before {
  content: "\f014";
}
