#ext-hourlyforecastview-1 {
  padding: 15px 0;
  margin-bottom: 5px;
  border-bottom: solid 1px #cccccc;
}

#ext-hourlyforecastview-1
  div.x-body-el
  div.x-dataview-item
  + div.x-dataview-item
  + div.x-dataview-item
  + div.x-dataview-item
  + div.x-dataview-item
  + div.x-dataview-item
  + div.x-dataview-item {
  display: none;
}

.singlehour {
  font-size: 16px;
  text-align: center;
}

.singlehour .wi {
  font-size: 36px;
  padding: 10px;
}

.hourtemp {
  font-size: 24px;
}
